logs
project/project
project/target
target
tmp
.history
dist
.settings
.idea
.idea_modules
framework/sbt/boot
repository
*.swp
APP_VERSION
.DS_Store
public/_build
public/javascripts/main.min.js
nh-*.log
node_modules/
New-homes.iml
.gradle
build/deployment-scripts/.bundle/
build/deployment-scripts/pkg/
.project
.classpath
RUNNING_PID
