<html>
<head>
    <link rel="stylesheet" media="screen" href="http://localhost:8080/assets/stylesheets/panel
    .css">
    <meta charset="utf-8"/>
</head>
<div id="search-result">
    <ul class="result-ul">
        <li class="result-li">
            <span class="result-name">西港雅苑</span>
            <span class="result-price">均价：6500</span>
            <br>
            <span class="result-address">地址：丈八四路和锦业路交叉口</span>
        </li>
        <li class="result-li">
            <span class="result-name">西港雅苑</span>
            <span class="result-price">均价：6500</span>
            <br>
            <span class="result-address">地址：丈八四路和锦业路交叉口</span>
        </li>
    </ul>
</div>
</html>
