@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bubble.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/panel.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <meta charset="utf-8"/>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <!-- google map api -->
        <script type="text/javascript"
            src="http://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyD4PgjeHo8quOdhN2RaqWZAQZeoBAYOB5I&sensor=false&language=zh-CN">
        </script>
        <!-- google map api-->
        <script src="@routes.Assets.at("javascripts/markerclusterplus.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/markerwithlabel.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/underscore-min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/infobubble.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/mustache.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/common.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/search.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/gmap.js")" type="text/javascript"></script>
        <script id="bubbleTemplate" type="text/html">
            <div class="bubble_header">
                <div class="bubble_title">{{name}}</div>
                <div class="bubble_detail">
                    <a href="">[详情]</a>
                </div>
            </div>
            <div class="bubble_content">
                <div class="bubble_left">
                    <img src="http://localhost:8080/assets/images/icons/{{imageName}}"/>
                </div>
                <div class="bubble_right">
                    <div class="project_price">均价：{{averagePrice}}</div>
                    <div class="project_type">类型：{{type}}</div>
                    <div class="project_address">地址：{{address}}</div>
                    <div class="project_phone">电话：{{telephone}}</div>
                    <div class="project_developer">开发商：{{developer}}</div>
                    <div class="project_date">开盘时间：{{publishDate}}</div>
                </div>
            </div>
        </script>
        <script id="result-template" type="text/html">
            <li class="result-li" onmouseover="mouseOverResult(this)" onmouseout="mouseOutResult(this)">
                <span class="result-name">{{name}}</span>
                <span class="result-price">均价：{{averagePrice}}</span>
                <br>
                <span class="result-address">地址：{{address}}</span>
            </li>
        </script>
    </head>
    <body>
        <header>
            <h1>Demo</h1>
        </header>
        <div class="content">
            <div class="canvas">
            </div>

            <div class="panel">
                <div class="search-context">
                    <h1>您可以在此输入企业名称进行搜索定位：</h1>
                    <input name="search" autocomplete="off" class="search-input" placeholder="Default: All">
                    <div class="search-arrow">
                    </div>
                </div>
                <div id="search-result">
                    <ul class="result-ul">
                    </ul>
                </div>
            </div>
        </div>
    <body>
</html>